.form {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: #f0f3f7;
  border-radius: 15px;
  color: #2c333f;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
  border: 0;
  border-radius: 3px;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-btn);
  color: #fff;
  border: none;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-btn);
}

.actions button:hover {
  background-color: var(--color-btn-hover);
}

.actions a:hover {
  text-decoration: underline;
}
